{% extends "base.htm" %}

{% block title %}
Brands | Edison Company
{% endblock title %}

{% block content %}
<style>
    .card-body {
        min-height: 300px; /* Ensure consistent height for text content */
    }

    .card-img-top {
        height: 300px; /* Set a fixed height for the image */
        object-fit: cover; /* Ensure image is cropped to fit the space */
    }

    .card-title {
        margin-top: 25px; /* Adjust the margin to push the product name down */
    }

    /* Card Styling */
    .card {
        transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for scaling and shadow */
    }

    /* Hover effects */
    .card:hover {
        transform: translateY(-10px); /* Lift the card up on hover */
        box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4); /* Denser shadow at the bottom */
    }

    /* Remove text decoration from card links */
    .card-link {
        text-decoration: none;
    }

</style>

<div class="container my-5">
    <h1 class="text-center mb-4">Our Brands</h1>
    <div class="row d-flex justify-content-start justify-content-md-between">
        {% for product in brands %}
        <div class="col-12 col-sm-6 col-md-4 mb-4">
            <a href="/products/{{product.product_category.id}}/{{product.id}}" class="card h-100 text-decoration-none rounded-3">
                <div class="card-body bg-dark text-white d-flex flex-column rounded-3">
                    {% if product.product_image %}
                    <img src="{{ product.product_image.url }}" class="card-img-top product-image rounded-3" alt="{{ product.product_name }}">
                    {% else %}
                    <img src="https://via.placeholder.com/300x200" class="card-img-top product-image rounded-3" alt="Product Image">
                    {% endif %}
                    <h5 class="card-title">{{ product.product_name }}</h5>
                    <p class="card-text">{{ product.description|truncatewords:20 }}</p>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% include "footer.htm" %}
{% endblock content %}
